@charset "utf-8";

img, object, embed, video
	{
		max-width: 100%;
	}
/* IE 6 ne prend pas en charge max-width ; la largeur par défaut est donc fixée à 100% */
.ie6 img
	{
		width:100%;
	}

html
	{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	}

body
	{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	}

/* Paramètrage Smartphone */
@media screen and (max-device-width: 481px)
    {
        /* Liste de vos règles */
    }

/* Paramètrage Tablettes */
@media screen and (min-device-width: 480px) and (max-device-width: 961px)
    {
        /* Liste de vos règles */
    }

/* Paramètre Ordinateur */
@media screen and (min-device-width: 960px)
    {
        /* Liste de vos règles */
    }
